export const bigWeight = 2048; // This is the weight of a server that is considered "big"
export const hgwMemoryBuffer = 2 // Amount of ram to dedicate to hack growth
export const homehgwBuffer = 32 // Amount of headroom to give home
export const hostMemoryFloor = 16 // minimum server to run scripts on
export const url = "http://localhost:8080/listener?";

// HGW tuning
export const effectBuffer = .9 // buffer for hack loop threads
export const weakenBuffer = .1 // buffer for weaken loop threads
export const securityBuffer = 1 // Extra buffer for starting hack on server
export const moneyBuffer = .9 // percentage to multiply funds for buffers (like grow)

// CPU tuning
export const shareBuffer = .1 // Percentage to multiply cpu for shares

// Money tuning
export const upgradeBuffer = .7 // Percentage to multiply funds for upgrades
